# Build do Java
target/
build/
out/

# IntelliJ IDEA
.idea/
*.iml

# VS Code
.vscode/

# Angular / Node
node_modules/
dist/

# Logs
*.log
logs/
backend/app/logs/
*.gz

# Temporários
*.tmp
*.swp
*.swo
*~

# Sistema operacional
.DS_Store
Thumbs.db
